* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    background: linear-gradient(#fff, #ccc);
    --on: #88e661;
    --off: #d7424b;
    --time: 0.6s;
}

input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
}

.switch-container {
    position: relative;
    display: block;
    width: 320px;
    height: 192px;
    margin: auto;
    background: radial-gradient(at top left, #fff 10%, #fff0 20%),
                radial-gradient(at top right, #fff 20%, #e4e4e4 35%);
    font-size: 12px;
    border-radius: 96px;
    box-shadow: 0 0 4px #0002,
                0 48px 24px 8px #0002;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    --x: -90%;
}

.switch-container > * {
    position: absolute;
    top: 50%;
    left: 50%;
}

.switch-container > *:not(.switch-knob) {
    transform: translate(-50%, -50%);
}

.switch-base {
    z-index: 0;
    width: 246px;
    height: 136px;
    background: linear-gradient(90deg, var(--on) 50%, var(--off) 0);
    background-position: 75% 0;
    background-size: 200% 100%;
    border-radius: 68px;
    box-shadow: 0 0 4px 1px #ddd inset,
                0 16px 29px 14px #0004 inset, 0 0 0 68px #0002 inset;
    overflow: hidden;
    transition: background-position var(--time) ease-in-out;
}

.switch-knob {
    z-index: 1;
    width: 136px;
    height: 136px;
    transform: translate(var(--x), -50%);
    background: linear-gradient(90deg, var(--on) 50%, var(--off) 0);
    border-radius: 50%;
    box-shadow: 0 22px 32px -13px rgba(0, 0, 0, 0.55);
    transition: transform var(--time) ease-in-out, box-shadow var(--time) ease-in-out;
}

.switch-knob::before {
    z-index: 3;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(32px 24px at 50% 35%, #fff6 15%, #fff0),
                radial-gradient(24px 40px at 75% 40%, #fff6 15%, #fff0),
                radial-gradient(100% 100% at 50% 33%, #0000 25%, #0003 50%);
    box-shadow: 0 0 5px 2px #0003 inset;
    border-radius: 50%;
}

.knob-core,
.knob-shine {
    z-index: 2;
    width: 52%;
    height: 100%;
    transition: transform calc(var(--time) / 2);
}

.knob-core {
    position: absolute;
    right: 49%;
    background: var(--off);
    border-radius: 100% 0 0 100% / 50% 50% 50% 50%;
    transform-origin: 100% 50%;
    transition-delay: calc(var(--time) / 2);
    transition-timing-function: ease-out;
}

.knob-shine {
    position: absolute;
    left: 49%;
    background: var(--on);
    border-radius: 0 100% 100% 0 / 50% 50% 50% 50%;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-timing-function: ease-in;
}

input:checked + .switch-container {
    --x: -10%;
}

input:checked + .switch-container .switch-base {
    background-position: 25% 0;
}

input:checked + .switch-container .knob-core {
    transform: scaleX(0);
    transition-delay: 0s;
    transition-timing-function: ease-in;
}

input:checked + .switch-container .knob-shine {
    transform: scaleX(1);
    transition-delay: calc(var(--time) / 2);
    transition-timing-function: ease-out;
}
